div.header1
{
	border: solid;
	background-color: gray;
	border-color: gray;
	padding: 5px;
}
h3
{
	color: white;
}
div.header2
{
	border: solid;
	border-color: lightgray;
	background-color: lightgray;
	padding: 5px;
}

p.titles {
	font-size: 21px;
	margin-top: 21px;
	margin-bottom: 12px;
}


div.w2 {
	border-top: 4px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 5px;
	margin-bottom: 25px;
}

div.box {
	border-right: 1px solid #999;
	padding-top: 8px;
	padding-bottom:4px;
}